.home-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.home-img img {
  display: flex;
  width: 33%;
  height: auto;
  margin:0 0 0 1%;
  cursor: pointer;
}

.vue3-menus-item {
  margin-top: 1rem;
  background-color: aqua;
  line-height: 7rem;
  height: 7rem;
  text-align: center;
}
