.home-img {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.home-img img {
  display: flex;
  width: 33%;
  height: auto;
  margin:0 0 0 1%;
  cursor: pointer;
}

.vue3-menus-item {
  margin-top: 1rem;
  background-color: #dddddd;
  line-height: 7rem;
  height: 7rem;
  text-align: center;
}


.vue3-seamless-scroll-scroll {
  display: inline-block;
  height: 300px;
  width: 100%;
  text-align: center;
  margin: 0 25px;
  overflow: hidden;
  position: relative;
}

.vue3-seamless-scroll-scroll>div:first-child {
  margin-top: 15px;
  height: 260px;
  overflow: hidden;
}

.vue3-seamless-scroll-scroll .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}

.v3-color-picker {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
}

.v3-color-picker-item {
  color: red;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.data-uri {
  background-color:#fff;
}

pre[class*="language-"]::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
  border-radius   : 10px;
  background-color: #ededed;
}

pre[class*="language-"]::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #2d2d2d;
  border-radius: 10px;
}

.token.keyword.keyword-return,.token.keyword.keyword-if{
  color: #f92672;
}
